.login {
  padding: 40rpx 0 30rpx 0;
}
.login .item {
  margin-bottom: 30rpx;
}
.login .other_way {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 30rpx;
}
.login .other_way .ow_item {
  display: inline-block;
  font-size: 24rpx;
  color: #999;
}
.login .other_way .ow_item1 {
  float: left;
}
.login .other_way .ow_item2 {
  float: right;
}
.wxapplogin .box {
  text-align: center;
  position: relative;
}
.wxapplogin .img {
  width: 35px;
  height: 35px;
}
.wxapplogin .txt {
  font-size: 12px;
  color: #999;
}
.wxapplogin .box .btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}
.remind {
  margin: 0 auto;
  display: flex;
  font-size: 12px;
}
.remind .txt {
  margin-left: 3px;
  padding-top: 3px;
  color: #999;
}
.remind .link {
  color: #f4645f;
}
