.article_list .items {}
.article_list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
	border-bottom: 1px solid #eee;
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}
.article_list .item:last-child {
  border-bottom: none;
  padding-bottom: none;
}
.article_list .item .cover {
  width: 160rpx;
  height: 160rpx;
	border-radius: 8px;
	margin-right: 10px;
}
.article_list .item .info {
  flex: 1;
}
.article_list .item .title {
  margin-bottom: 5px;
}
.article_list .item .description {
  color: #999;
  font-size: 28rpx;
}

.article_show {
  margin-top: 30rpx;
}
.article_show .top {
  margin-bottom: 30rpx;
	padding-bottom: 30rpx;
	border-bottom: 1px solid #f5f5f5;
}
.article_show .top .title {
  font-weight: bold;
}
.article_show .content {
	color: #707070;
	line-height: 1.8;
}
