.address_list .item {
	background-color: #fff;
	padding: 30rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
}
.address_list .item .info {
	width: 86%;
}
.address_list .item .info .vm1 {
	font-weight: bold;
}
.address_list .item .info .vm1 .default {
	font-weight: normal;
	background-color: #ff6131;
	color: #fff;
	font-size: 12px;
	padding: 3px 6px;
	border-radius: 3px;
	margin-right: 6px;
}
.address_list .footbtn_blank {
  height: 100rpx;
}
.address_list .footbtn {
  position: fixed;
  bottom: 0;
  z-index: 99;
	background-color: #ff6131;
	color: #fff;
	width: 100%;
	height: 100rpx;
	line-height: 100rpx;
	text-align: center;
}

.address_create .btnbox .btn {
	background-color: #ff6131;
	color: #fff;
}
.address_create .result {
	text-align: center;
	padding: 60rpx;
}
.address_create .result .txt .iconfont {
	margin-right: 8rpx;
}
.address_create .result .des {
	margin-top: 20rpx;
	color: #999;
	font-size: 24rpx;
}
.address_create .result .btns {
	margin-top: 30rpx;
}
.address_create .result .btns .btn {
	margin-left: 10rpx;
}
.address_create .result .btns .btn:first-child {
	margin-left: 0;
}

.popup_address {}
.popup_address .btop {
  height: 49px;
	line-height: 49px;
  position: relative;
	text-align: center;
	padding: 0 30rpx;
	border-bottom: 1px solid #f5f5f5;
}
.popup_address .btop .close {
  float: right;
	color: #999;
}
.popup_address .tabs {
	display: flex;
	padding: 0 30rpx;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f5f5f5;
}
.popup_address .tabs .item {
	margin-right: 5px;
}
.popup_address .tabs .item:last-child {
	margin-right: 0;
}
.popup_address .tabs .item.on {
	color: #ff6131;
}
.popup_address .items {
	padding: 5px 30rpx;
	overflow: hidden;
	overflow-y: scroll;
	height: calc(60vh - 65px);
}
.popup_address .items .item {
	line-height: 35px;
	min-height: 35px;
}
.popup_address .items .item.on {
	color: #ff0000;
}
