.checkout {}
.checkout .address {
	background-color: #fff;
	padding: 30rpx;
}
.checkout .address .bd {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.checkout .address .info {
	width: 86%;
}
.checkout .address .info .vm1 {
	font-weight: bold;
}
.checkout .data_list {
  margin-top: 30rpx;
}
.checkout .data_list .items {
	background-color: #fff;
	padding: 30rpx;
	margin-bottom: 30rpx;
}
.checkout .data_list .items_top {
	margin-bottom: 30rpx;
	padding-bottom: 30rpx;
	border-bottom: 1px solid #f5f5f5;
	display: flex;
}
.checkout .data_list .icon_selected {
	margin-right: 8px;
	font-weight: 400;
	color: #999;
}
.checkout .data_list .icon_selected.on:before {
	content: '\e731';
	color: #ff6131;
}
.checkout .data_list .items .item_product {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 30rpx;
	padding-bottom: 30rpx;
	border-bottom: 1px solid #f5f5f5;
}
.checkout .data_list .items .item_product:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
.checkout .data_list .items .item_product .cover {
	width: 158rpx;
	height: 158rpx;
	border-radius: 5px;
	margin-right: 10px;
	border: 1px solid #eee;
}
.checkout .data_list .items .item_product .info {
	flex: 1;
}
.checkout .data_list .items .item_product .info .name {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.checkout .data_list .items .item_product .types {
  font-size: 12px;
  color: #999;
  display: flex;
}
.checkout .data_list .items .item_product .types_item {
  margin-right: 10rpx;
}
.checkout .data_list .items .item_product .info .price {
	color: #ff0000;
}
.checkout .data_list .items .item_product .info .pricebox .number {
	float: right;
	color: #999;
	font-size: 12px;
	padding-top: 5px;
}
.checkout .fee {
	padding: 30rpx;
	background-color: #fff;
	margin-top: 30rpx;
}
.checkout .fee .item {
	display: flex;
	justify-content: space-between;
}
.checkout .fee .item .vm2 {
	color: #ff6131;
}
.foot_action_blank {
  height: 170rpx;
}
.foot_action {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: .9;
	background-color: #fff;
	border-top: 1px solid #eeeeee;
	height: 90rpx;
	padding: 40rpx 0;
}
.foot_action .left {
	width: 50%;
	float: left;
	display: flex;
	line-height: 90rpx;
	padding-left: 30rpx;
}
.foot_action .left .price {
	color: #ff0000;
}
.foot_action .right {
	float: right;
	padding-right: 30rpx;
}
.foot_action .right .btn {
	text-align: center;
	width: 300rpx;
	height: 90rpx;
	line-height: 90rpx;
	background-color: #ff6131;
	color: #fff;
	border: none;
	border-radius: 10rpx;
	padding: 0;
}

.popup_setAddress {}
.popup_setAddress .btop {
  height: 49px;
	line-height: 49px;
  position: relative;
	text-align: center;
	padding: 0 30rpx;
	border-bottom: 1px solid #f5f5f5;
}
.popup_setAddress .btop .close {
  float: right;
	color: #999;
}
.popup_setAddress .items {
	overflow: hidden;
	overflow-y: scroll;
	height: calc(60vh - 65px);
}
.popup_setAddress .items .item {
	background-color: #fff;
	padding: 30rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
}
.popup_setAddress .items .item:last-child {
	border-bottom: none;
}
.popup_setAddress .items .item .info {
	width: 86%;
}
.popup_setAddress .items .item .info .vm1 {
	font-weight: bold;
}
.popup_setAddress .items .item .iconfont {
	color: #ff0000;
}
