.article_list_left {
  float: left;
  width: 886px;
}
.article_list_left .item {
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  transition: all .3s;
}
.article_list_left .item:hover {
  box-shadow: 0 4px 8px rgba(3, 27, 78, .12);
}
.article_list_left .item_box {
  padding: 20px;
  overflow: hidden;
}
.article_list_left .cover {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  padding: 3px;
  float: left;
  border: 1px solid #f5f5f5;
}
.article_list_left .cover img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}
.article_list_left .con {
  width: 740px;
  float: right;
  padding-top: 12px;
}
.article_list_left .title {
  display: block;
  width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
}
.article_list_left .type {
  margin-top: 16px;
  margin-left: -14px;
  color: #999;
  font-size: 12px;
}
.article_list_left .type li {
  float: left;
  margin-left: 14px;
}

.article_show_left {
  float: left;
  width: 886px;
}
.article_show_left .main {
  background-color: #fff;
  padding: 24px 24px 30px 24px;
}
.article_show_left .main .title {
  font-weight: 600;
  font-size: 16px;
}
.article_show_left  .type {
  font-size: 12px;
  color: #666;
  float: left;
  margin-left: -10px;
  margin-top: 10px;
  overflow: hidden;
}
.article_show_left .type li {
  float: left;
  margin-left: 10px;
}
.article_show_left .content {
  margin-top: 20px;
  line-height: 2;
}
.article_show_left .content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.article_show_left .content h1,
.article_show_left .content h2,
.article_show_left .content h3,
.article_show_left .content h4,
.article_show_left .content h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 1rem;
  line-height: 2;
}
.article_show_left .content h1::before,
.article_show_left .content h2::before,
.article_show_left .content h3::before,
.article_show_left .content h4::before,
.article_show_left .content h5::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 38px;
  content: '';
  background-color: #eee;
}
.article_show_left .content p {
  margin-bottom: 1rem;
}
.article_show_left .content p:last-child {
  margin-bottom: 0;
}
.article_show_left .content ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.article_show_left .content ul:last-child {
  margin-bottom: 0;
}

.help {
  overflow: hidden;
  padding: 20px 0;
}
.help .left {
  float: left;
  background-color: #fff;
  width: 200px;
  border: 1px solid #eaeaea;
}
.help .left dl {
  text-align: center;
  border-bottom: 1px solid #fff;
}
.help .left dl dt {
  width: 100%;
  height: 43px;
  line-height: 43px;
  background-color: #eaeaea;
  font-size: 12px;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #fff;
  font-weight: 600;
}
.help .left dl dt span {
  position: relative;
}
.help .left dl dt i {
  position: absolute;
  right: 20px;
  font-size: 12px;
  letter-spacing: 0;
  color: #999;
}
.help .left dl dt i.up::after {
  content: '\e62e';
}
.help .left dl dt i.down::after {
  content: '\e60e';
}
.help .left dl dd a {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #666;
}
.help .left dl dd a.on {
  color: #0d6efd;
}
.help .right {
  float: right;
  background-color: #fff;
  width: 980px;
  min-height: 550px;
}
.help .right .box {
  padding: 30px;
}
.help .right .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  letter-spacing: 3px;
}
.help .right .content {
  letter-spacing: 2px;
  line-height: 200%;
  font-size: 14px;
}
.help .right .content hr {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border: none;
  margin: 16px 0;
}
.help .right .content p {
  margin-bottom: 12px;
}
.help .right .content h1 {
  font-size: 22px;
  margin-bottom: 12px;
}
.help .right .content h2 {
  font-size: 20px;
  margin-bottom: 12px;
}
.help .right .content h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.help .right .content h4 {
  font-size: 16px;
  margin-bottom: 12px;
}
.help .right .content a {
  color: #0d6efd;
}
.help .right .content img {
  max-width: 90%;
}

.help_show2 {
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px 0;
  border-radius: 5px;
}
.help_show2 .left {
  float: left;
  background-color: #fff;
  width: 220px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
.help_show2 .left dl {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0;
}
.help_show2 .left dl dt {
  padding: 14px 14px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
  font-weight: 600;
  padding-left: 16px;
  color: #666;
}
.help_show2 .left dl dt span {
  position: relative;
}
.help_show2 .left dl dt i::after {
  float: right;
  font-weight: 400;
  color: #999;
}
.help_show2 .left dl dt i.up::after {
  content: '\e797';
}
.help_show2 .left dl dt i.down::after {
  content: '\e799';
}
.help_show2 .left dl dd {
  margin-bottom: 0;
  font-size: 12px;
}
.help_show2 .left dl dd a {
  display: block;
  color: #666;
  border-bottom: 1px solid #f5f5f5;
  padding: 16px 16px;
}
.help_show2 .left dl dd a.on {
  background: #e3e7ed;
  color: #666;
}
.help_show2 .left dl dd a:last-child {
  border-bottom: none;
}
.help_show2 .right {
  float: right;
  background-color: #fff;
  width: 960px;
  min-height: 550px;
  border-radius: 5px;
}
.help_show2 .right .box {
  padding: 30px;
}
.help_show2 .right .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.help_show2 .right .content {
  line-height: 200%;
  font-size: 14px;
}
.help_show2 .right .content hr {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  border: none;
  margin: 16px 0;
}
.help_show2 .right .content p {
  //margin-bottom: 12px;
}
.help_show2 .right .content h1 {
  font-size: 22px;
  margin-bottom: 12px;
}
.help_show2 .right .content h2 {
  font-size: 20px;
  margin-bottom: 12px;
}
.help_show2 .right .content h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.help_show2 .right .content h4 {
  font-size: 16px;
  margin-bottom: 12px;
}
.help_show2 .right .content a {
  color: #ffaa2c;
}
.help_show2 .right .content img {
  max-width: 90%;
}