@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
}
html, body {
  max-width: 100%;
  min-width: 1080px;
  background-color: #f1f3f8;
  font-size: 14px;
}
ul {
  list-style: none;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0; 
}
input, button, a.btn, .form-control, .form-select {
  outline: none !important;
  box-shadow: none !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}
.none {
  display: none;
}

.luck-text-color {
  color: #0d6efd;
}
.luck-text-price {
  color: #FF0000;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid transparent;
  background: rgba(0,0,0,.25);
  background-clip: padding-box
}
::-webkit-scrollbar-track {
  border-radius: 10px
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.5)
}
::-webkit-scrollbar-corner {
  background-color: transparent
}

/* sidebar satrt */

/* 深色方案 */
#sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #001529;
  color: #b8c7ce;
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}
#sidebar .cut-off {
  height: 1px;
  background-color: #ffffff;
  margin: 0 16px;
  opacity: .12;
}
#sidebar .logo {
  cursor: pointer;
  padding-left: 24px;
  height: 55px;
  line-height: 55px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 18px;
}
#sidebar .logo img {
  height: 28px;
  margin-right: 3px;
  margin-top: -5px;
}
#sidebar .logo span {
  color: #fff;
  letter-spacing: 2px;
}
#sidebar .sidebar-menu {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1;
  height: calc(100vh - 106px);
}
#sidebar .items {
  margin: 4px 0;
}
#sidebar .items:last-child {
  padding-bottom: 16px;
}
#sidebar .items-title {
  display: block;
  cursor: pointer;
  padding-left: 24px;
  height: 40px;
  line-height: 40px;
  position: relative;
  color: #b8c7ce;
}
#sidebar .items-title i:first-child {
  margin-right: 10px;
}
#sidebar .items-title i:last-child::before {
  position: absolute;
  right: 16px;
  opacity: .3;
  transform: scale(.8);
  transition: transform .3s;
}
#sidebar .items-title.on i:last-child::before {
  transform: scale(.8) rotate(90deg);
}
#sidebar .items-list {
  display: none;
  background-color: #000c17;
}
#sidebar .items-list .item {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #b8c7ce;
  padding-left: 48px;
}
#sidebar .items-list .item:hover {
  color: #fff;
}
#sidebar .items .on {
  background-color: #1890ff;
  color: #fff !important;
}
#sidebar.mini {
  width: 80px;
}
#sidebar.mini .items-title span, #sidebar.mini .items-title i:last-child {
  display: none;
}
#sidebar.mini .items-list {
  background-color: #000c17;
  box-shadow: 0 0 10px #222;
  position: fixed;
  margin-top: -36px;
  z-index: 999;
  left: 60px;
  border-radius: 3px;
}
#sidebar.mini .items-list .item {
  text-align: center;
  padding: 0 15px;
}
#sidebar.mini .items:hover .items-list {
  display: block !important;
}
#sidebar.mini .logo span {
  display: none;
}
.sidebar-foot {
  font-size: 12px;
  color: #999;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 36px;
  letter-spacing: 1px;
  border-top: 1px solid #242629;
  background-color: #001529;
}

/* #main start */
#main.mini {
  margin-left: 80px;
  width: calc(100% - 80px);
}
#main.mini header {
  width: calc(100% - 80px);
}
#main.mini header .mini-button i::before {
  content: '\e60a';
}
#main {
  margin-left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  overflow: hidden;
}
#main header {
  position: fixed;
  height: 55px;
  line-height: 55px;
  width: calc(100% - 200px);
  background-color: #fff;
  z-index: 99;
}
#main header .mini-button {
  padding: 0 10px 0 20px;
  display: inline-block;
  cursor: pointer;
}
#main header .mini-button i::before {
  content: '\e621';
}
#main header .title {
  font-weight: normal;
}
#main header .account {
  float: right;
  padding-right: 20px;
  margin-bottom: 0;
}
#main header .account i {
  margin-right: 3px;
}
#main header .account li {
  float: left;
  text-align:center;
  padding: 0 8px;
  cursor: pointer;
  font-size: 13px;
}
#main header .account li.user_info {
  position: relative;
}
#main header .account li.user_info:hover {
  background-color: #f0f0f0;
  color: #333;
}
#main header .account li.user_info:hover .items {
  display: block;
}
#main header .account li.user_info .items {
  position: absolute;
  top: 55px;
  left: -24px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  border-bottom: 0;
  width: 130px;
  display: none;
}
#main header .account li.user_info .items .item {
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
#main header .account li.user_info .items .item:hover {
  background-color: #148eff;
  color: #fff;
}
#main iframe {
  width: 100%;
  height: 100%;
  padding-top: 56px;
}
/* #main end */

/* .main start */
.main {
  margin-bottom: 1.5rem;
}
.pagebox {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 3px;
}
.pagetopnav {
  border-radius: 5px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 12px;
}
.pagetopnav a {
  color: #333;
  display: inline-block;
  padding: 0 12px;
}
.pagetopnav .on {
  background-color: #0d6efd;
  color: #fff;
}
/* .main end */

/* breadcrumb start */
.breadcrumb .iconfont {
  margin-right: 5px;
}
.breadcrumb-stitle {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.breadcrumb-stitle a {
  margin-right: 16px;
  color: #333;
  font-size: 16px;
}
.breadcrumb-stitle .goback:before {
  content: '\e61d';
}
/* breadcrumb end */

/* table start */
.table thead {
  background: #fafafa;
}
.table thead th {
  border: none;
  font-weight: 500;
  border-bottom: 1px solid rgba(0,0,0,.06) !important;
  transition: background .3s ease;
  padding: 12px 8px;
}
.table td {
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.06) !important;
  transition: background .3s ease;
  padding: 12px 8px;
}
.table tr:hover {
  background: #fafafa;
}
/* table end */

/* noresult start */
.noresult {
  text-align: center;
  display: block;
  margin: 50px 0;
}
.noresult img {
  max-width: 100px;
}
.noresult p {
  font-size: 12px;
  margin-top: 10px;
  color: #ccc;
  letter-spacing: 1px;
}
.noresult p.link {
  margin-top: 20px;
}
.noresult p.link a {
  background-color: #ffaa2c;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #fff;
  margin-left: 8px;
  padding: 0 10px;
  border-radius: 5px;
}
.noresult p.link a:first-child {
  margin-left: 0;
}
/* noresult end */

/* form start */
.form-message {
  background-color: #f8d7da;
  display: none;
  border-radius: 3px;
}
.form-message p.message {
  font-size: 12px;
  margin: 5px 0;
}
.form-message li {
  font-size: 12px;
  letter-spacing: 1px;
}
.form-message label.error {
  color: red;
  font-weight: normal;
  padding-top: 5px;
}
.form-foot-blank {
  height: 70px;
}
.form-foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eee;
  background-color: #fff;
  z-index: 999;
  opacity: .8;
}
.form-foot .box {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.form-foot .box button {
  margin-right: 8px;
}
.form-box {
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0;
  padding-bottom: 32px;
}
.form-box .title {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 15px;
  font-size: 16px;
}
.frombd {
  min-height: 420px;
}
.form-tab {
  display: none;
}
#form .col-form-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
/* form end */

/* 多图上传 start */
.upload_images .items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}
.upload_images .image {
  border: 1px solid #eee;
  height: 90px;
  width: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  padding: 3px;
  cursor: pointer;
}
.upload_images .image.upload {
  background: url(../images/icon_upload.png) no-repeat;
  background-size: 50% 50%;
  background-position: center;
  cursor: pointer;
}
.upload_images .image .close {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 99;
  cursor: pointer;
  display: none;
}
.upload_images .image .close::after {
  content: "\e607";
  font-size: 1rem;
  color: red;
}
.upload_images .image:hover .close {
  display: block;
}
.upload_images .image img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* 多图上传 end */

/* 异步上传 start */
.luckFU {
  position: relative;
  cursor: pointer;
  border: 1px solid #eee;
  background: url(../images/icon_upload.png) no-repeat center;
  background-size: 50% 50%;
  text-align: center;
}
.luckFU_3_6 {
  background-size: 30% 60% !important;
}
.luckFU img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.luckFU.uploaded {
  background-size: 0%;
}
.luckFU_remove {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 1;
  display: none;
}
.luckFU_remove::before {
  content: '\e607';
  color: red;
}
.luckFU:hover .luckFU_remove {
  display: block;
}
/* 异步上传 end */

/* fileManager 图片空间 上传图片 start */
.fmr {
  position: relative;
  cursor: pointer;
  border: 1px solid #eee;
  background: url(../images/icon_upload.png) no-repeat center;
  background-size: 60% 60%;
  text-align: center;
}
.fmr_3_6 {
  background-size: 30% 60%;
}
.fmr img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.fmr.uploaded {
  background-size: 0%;
}
.fmr_remove {
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
}
.fmr_remove::before {
  content: '\e607';
  color: red;
}
.fmr:hover .fmr_remove {
  display: block;
}
/* fileManager 图片空间 上传图片 end */

/* payment start */
.payment {
  overflow: hidden;
}
.payment .title {
  font-weight: 600;
  letter-spacing: 3px;
  padding-left: 2px;
  margin-bottom: 10px;
}
.payment .items {
  margin-left: -10px;
  overflow: hidden;
}
.payment .items .item {
  width: 130px;;
  padding: 1rem;
  border: 1px solid #eee;
  float: left;
  margin-left: 10px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
}
.payment .items .item.on {
  border: 1px solid #d8b66c;
}
.payment .items .item img {
  max-width: 100%;
  height: auto;
}
.payment_foot {
  margin-top: 10px;
}
.payment_foot .description {
  color: #666;
  font-size: 12px;
  margin-bottom: 12px;
}
.payment_foot .description .text-price {
  font-size: 18px;
}
.payment_foot .btn-pay {
  width: 280px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background-color: #d8b66c;
  border: 1px solid #d8b66c;
  color: #fff;
}

.popup_weixinpay {
  width: 440px;
  background-color: #fff;
  padding: 50px 0 60px 0;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.popup_weixinpay .close::before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  content: '\e608';
  font-size: 16px;
}
.popup_weixinpay_addition_class {
  border-radius: 20px !important;
}
.popup_weixinpay .title {
  color: #333333;
  font-size: 20px;
  letter-spacing: 2px;
}
.popup_weixinpay .tip {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  letter-spacing: 2px;
}
.popup_weixinpay .qrcode {
  margin-top: 20px;
}
.popup_weixinpay .qrcode img {
  width: 200px;
  height: 200px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 3px;
}
.popup_weixinpay .btns {
  margin-top: 30px;
}
/* payment end */

/* icon start */
@font-face {
  font-family: 'iconfont';  /* Project id 4050485 */
  src: url('//at.alicdn.com/t/c/font_4050485_n3fi6gaq88q.woff2?t=1697782624552') format('woff2'),
       url('//at.alicdn.com/t/c/font_4050485_n3fi6gaq88q.woff?t=1697782624552') format('woff'),
       url('//at.alicdn.com/t/c/font_4050485_n3fi6gaq88q.ttf?t=1697782624552') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
}
.iconfont-question::before {
  content: '\e671';
}
/* 问号 */
.luck-icon-question::before {
  content: '\e671';
}
/* 向上 */
.luck-icon-up::before {
  content: '\e797';
}
/* 向下 */
.luck-icon-down::before {
  content: '\e799';
}
/* 向左 */
.luck-icon-left::before {
  content: '\e79a';
}
/* 向右 */
.luck-icon-right::before {
  content: '\e79b';
}
/* 向上2 */
.luck-icon-up2::before {
  content: '\eb0b';
}
/* 向下2 */
.luck-icon-down2::before {
  content: '\eb0a';
}
/* 向左2 */
.luck-icon-left2::before {
  content: '\eb09';
}
/* 向右2 */
.luck-icon-right2::before {
  content: '\eb08';
}
/* 向上3 */
.luck-icon-up3::before {
  content: '\eb0b';
}
/* 向下3 */
.luck-icon-down3::before {
  content: '\e618';
}
/* 向左3 */
.luck-icon-left3::before {
  content: '\e61d';
}
/* 向右3 */
.luck-icon-right3::before {
  content: '\e61a';
}
/* 首页 */
.luck-icon-home::before {
  content: '\e8b9';
}
/* 刷新 */
.luck-icon-refresh::before {
  content: '\e68c';
}
/* 返回 */
.luck-icon-back::before {
  content: '\e623';
}
/* 上传 */
.luck-icon-upload::before {
  content: '\e665';
}
/* 文件夹 */
.luck-icon-folder::before {
  content: '\e604';
}
/* 文件 */
.luck-icon-file::before {
  content: '\e63a';
}
/* 创建 */
.luck-icon-create::before {
  content: '\e600';
}
/* 编辑 */
.luck-icon-delete::before {
  content: '\e8ac';
}
/* 删除 */
.luck-icon-delete::before {
  content: '\e676';
}
/* 查看 */
.luck-icon-look::before {
  content: '\e61b';
}
/* 关闭 */
.luck-icon-close::before {
  content: '\e607';
}
/* 退出 */
.luck-icon-logout::before {
  content: '\e74d';
}
/* 未选中 方形 */
.luck-icon-xuanzhong::before {
  content: '\e648';
}
/* 选中 方形 */
.luck-icon-weixuanzhong::before {
  content: '\e649';
}
/* 未选中 圆形 */
.luck-icon-xuanzhong-yuan::before {
  content: '\e72f';
}
/* 选中 圆形 */
.luck-icon-weixuanzhong-yuan::before {
  content: '\e731';
}
/* 右向左伸缩菜单 */
.luck-icon-shrink-right::before {
  content: '\e621';
}
/* 左向右伸缩菜单 */
.luck-icon-spread-left::before {
  content: '\e60a';
}
/* 账户 */
.luck-icon-account::before {
  content: '\e60d';
}
/* 分类 */
.luck-icon-menu::before {
  content: '\e638';
}
/* 加 */
.luck-icon-jia::before {
  content: '\e727';
}
/* icon end */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.cover {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 3px;
  vertical-align: top;
  object-fit: cover;
}
