.order_list {
	margin-top: 30rpx;
}
.order_list .item {
	background-color: #fff;
	border-radius: 5px;
	padding: 30rpx;
	margin-bottom: 30rpx;
}
.order_list .item .shopbox {
  padding-bottom: 30rpx;
  margin-bottom: 30rpx;
  border-bottom: 1px solid #f5f5f5;
  font-weight: 600;
}
.order_list .item .shopbox .luck-text-default {
	font-weight: 400;
	margin-left: 3px;
}
.order_list .item .top {
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 30rpx;
	overflow: hidden;
}
.order_list .item .top .number {
	float: left;
}
.order_list .item .top .bright {
	float: right;
	color: #999;
}
.order_list .snaps {
	padding-top: 30rpx;
	padding-bottom: 30rpx;
	border-bottom: 1px solid #f5f5f5;
}
.order_list .snaps_item {
	display: flex;
	margin-bottom: 30rpx;
}
.order_list .snaps_item:last-child {
	margin-bottom: 0;
}
.order_list .snaps_item .info {
	flex: 1;
}
.order_list .snaps_item .cover {
	width: 160rpx;
	height: 160rpx;
	border-radius: 5px;
	margin-right: 10px;
}
.order_list .snaps_item .name {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.order_list .snaps_item .spes {
  font-size: 12px;
  color: #999;
  display: flex;
}
.order_list .snaps_item .spes_item {
  margin-right: 10rpx;
}
.order_list .snaps_item .price {
	color: #ff0000;
}
.order_list .snaps_item .pricebox .number {
	float: right;
	color: #999;
	font-size: 12px;
	padding-top: 5px;
}
.order_list .item .types {
	padding-top: 30rpx;
}
.order_list .item .types .span1 {
	margin-right: 3px;
}
.order_list .item .item_foot {
	border-top: 1px solid #f5f5f5;
	padding-top: 30rpx;
	margin-top: 30rpx;
}
.order_list .item .item_foot .btns {
	text-align: right;
}
.order_list .item .item_foot .btns .btn {
	font-size: 12px;
	margin-right: 5px;
	border-radius: 20px;
	text-align: center;
	padding: 5px 10px;
	color: #999;
	border: 1px solid #999;
}
.order_list .item .item_foot .btns .luck-btn:last-child {
	margin-right: 0;
}
.order_list .item .item_foot .btns .btn.btn_pay {
	color: #d8b66c;
	border: 1px solid #d8b66c;
}
.sv_nav_blank {
	height: 48px;
}
.sv_nav {
	width: 750rpx;
	background: #FFFFFF;
	height: 48px;
  line-height: 48px;
	margin: auto;
  z-index: 99;
  position: fixed;
  left: 0;
  border-bottom: 1px solid #f5f5f5;
}
.sv_nav .scroll-view {
  width: 700rpx;
  margin: 0 auto;
}
.sv_nav .box {
	display: flex;
	align-items: center;
}
.sv_nav .box .item {
	width: 80px;
	text-align:center;
}
.sv_nav .box .item.on {
	color: #ff0000;
	font-weight: 600;
}

.order_show .pagebox {
	padding: 30rpx;
	background-color: #ffffff;
	border-radius: 8px;
	margin-top: 30rpx;
}
.order_show .pagebox .btop {
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 30rpx;
	margin-bottom: 30rpx;
}
.order_show .ptop {
	background-color: #fe482b;
	padding: 50px 0;
	color: #fff;
}
.order_show .ptop .status {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.order_show .address {
	margin-top: -30rpx;
}
.order_show .address .bd {
	display: flex;
	align-items: center;
}
.order_show .address .iconfont {
	width: 28px;
	font-size: 18px;
	color: #999;
}
.order_show .address .info .vm1 {
	font-weight: 600;
}
.order_show .snaps {
	margin-top: 30rpx;
}
.order_show .snaps_item {
	display: flex;
	margin-bottom: 30rpx;
}
.order_show .snaps_item:last-child {
	margin-bottom: 0;
}
.order_show .snaps_item .info {
	flex: 1;
}
.order_show .snaps_item .cover {
	width: 160rpx;
	height: 160rpx;
	border-radius: 5px;
	margin-right: 10px;
}
.order_show .snaps_item .name {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.order_show .snaps_item .spes {
  font-size: 12px;
  color: #999;
  display: flex;
}
.order_show .snaps_item .spes_item {
  margin-right: 10rpx;
}
.order_show .snaps_item .price {
	color: #ff0000;
}
.order_show .snaps_item .pricebox .number {
	float: right;
	color: #999;
	font-size: 12px;
	padding-top: 5px;
}
.foot_action_blank {
  height: 80px;
}
.foot_action {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: .9;
	background-color: #fff;
	border-top: 1px solid #eeeeee;
	padding: 20px 0;
}
.foot_action .btns {
	display: flex;
	justify-content: flex-end;
	width: 700rpx;
	margin: 0 auto;
}
.foot_action .btns .btn {
	margin-right: 5px;
	border-radius: 20px;
	text-align: center;
	padding: 5px 20px;
	color: #666;
	border: 1px solid #666;
	font-size: 14px;
}
.foot_action .btns .btn:last-child {
	margin-right: 0;
}
.foot_action .btns .btn.btn_pay {
	color: #d8b66c;
	border: 1px solid #d8b66c;
}

.contact_popup {
	width: 700rpx;
  background-color: #fff;
  border-radius: 3px;
}
.contact_popup .box {
	padding: 40rpx;
}
.contact_popup .stitle {
	font-weight: 600;
	margin-bottom: 30rpx;
}
.contact_popup .item {
	margin-bottom: 8px;
}
.contact_popup .item:last-child {
	margin-bottom: 0;
}
.contact_popup .item .span1 {
	width: 40px;
}
.contact_popup .item .span3 {
	margin-left: 10px;
	background-color: #0d6efd;
	padding: 2px 5px;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;
}
