.banner {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}
.banner .img {
  display: block;
  border: none;
  width: 100%;
  overflow: hidden;
}
.sudoku {
  background-color: #fff;
}
.sudoku .container {
  display: flex;
  flex-wrap: wrap;
  padding: 46rpx 0 0 0;
}
.sudoku .item {
  width: 25%;
  text-align: center;
  margin-bottom: 46rpx;
  font-size: 12px;
}
.sudoku .item .img {
  width: 90rpx;
  height: 90rpx;
  margin-bottom: 5px;
}
